*{
    color: red;
}

h1{
    color: gray;
}

#heading1{
    color: gold;
}

#heading2{
    color: brown;
}

.types{
    color: palevioletred;
}

.types{
    color: blue;
    
}

